@import "../../style/_variables.scss";

.container {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 20px;
  width: auto;

  &.react {
    background-color: $react;
  }

  &.angular {
    background-color: $angular;
  }

  &.nodejs {
    background-color: $node;
  }

  &.vue {
    background-color: $vue;
  }

  &.javascript {
    background-color: $javascript;
  }

  &.general {
    background-color: $general;
  }
}

.tagText {
  margin-bottom: 0;
  font-size: 1.6rem;
  color: $white;
  font-weight: 500;
}
