@import "../../style/_variables.scss";

.date {
  font-size: 1.6rem;
  color: $secondary-text-color;
  margin-bottom: 2rem;
  margin-top: 0.4rem;
}

.post {
  background-color: $white;
  padding: 2rem;
  border: 2px solid $black-1;
  border-radius: 2rem;
  width: 40rem;
}

.postBody {
  color: $black-1;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.2rem;
  margin-bottom: 0;
  // color: $white;
}

.postLink {
  color: $black-1;
}

.titleContainer {
  display: inline-block;
  padding: 5px;
  padding-left: 0;
  padding-right: 2rem;
  margin-bottom: 2rem;
  // background: $gradient-color-2;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, $gradient-color-1, $gradient-color-2);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, $gradient-color-1, $gradient-color-2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
