@import "../../style/_variables.scss";

.container {
  display: inline-block;
  // justify-content: center;
  // align-items: center;
  padding: 4px 8px;
  background-color: royalblue;
  border-radius: 5px;
  width: auto;
}

.tagText {
  margin-bottom: 0;
  font-size: 1.4rem;
  color: $white;
}