@import "../../style/variables";

.hello {
  color: $black-1;
  font-size: 1.2rem;
}

.description {
  color: $grey-2;
  font-size: 0.8rem;
  font-weight: 200;
}

.profilePicture {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.socialSection {
  display: flex;
  width: 30%;
  min-width: 40%;
  justify-content: space-between;
  margin-top: 0rem;
}

.connect {
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: auto;
}

.date {
  font-size: 1.6rem;
  color: $grey-2;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.post {
  margin-bottom: 2rem;
}

.postLink {
  color: $black-1;
}

.title {
  font-size: 3rem;
}

.postBody {
  color: $black-1;
  font-weight: 400;
  font-size: 2rem;
}

.notFoundContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postList {
  margin-top: 3rem;
}

.introductionSection {
  display: flex;
}

.rightCol {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

