@import "../../style/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 4rem;
  font-size: 1.6rem;
  // box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 20px;
}

.item {
  display: flex;
  align-items: center;
  color: $black-1;
  margin-left: 3rem;

  &:hover {
    text-decoration: underline;
  }
}

.logo {
  object-fit: cover;
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  margin-top: 2rem;
  margin-right: 2rem;
}

.linkGroup {
  display: flex;
}
