@import "../../style/variables";

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px;
  font-size: 1.6rem;
}

.item {
  display: flex;
  align-items: center;
  color: $black-1;
  padding: 3px;
  margin-left: 1.5rem;
}

.logo {
  object-fit: cover;
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
