$background-color: #FDF9F3;
$main-color: #DB4D3F;
$post-title-bg-color: #FB5E21;
$white: #fff;
$light-gray: lightgray;
$green-1: #41b883;
$black-1: #161b23;
$primary-text-color: #161b23;
$secondary-text-color: #455369;
$react: #61DAFB;
$angular: #C3002E;
$node:#046E00;
$vue: #41B882;
$javascript: #F8E018;
$general: royalblue;
