$background-color: #FDF9F3;
$main-color: #DB4D3F;
$post-title-bg-color: #FED866;
$white: #fff;
$light-gray: lightgray;
$blue-1: #498afb;
$green-1: #41b883;
$purple-1: #7c4dff;
$orange-1: #ff5722;
$black-1: #161b23;
$grey-2: #455369;
