$background-color: #ffffff;
$main-color: #db4d3f;
$post-title-bg-color: #fb5e21;
$white: #fff;
$light-gray: lightgray;
$green-1: #41b883;
$black-1: #161b23;
$primary-text-color: #161b23;
$secondary-text-color: #455369;
$react: #61dafb;
$angular: #c3002e;
$node: #659c60;
$vue: #41b882;
$javascript: #f8e018;
$general: royalblue;
$gradient-color-1: #ff5e62;
$gradient-color-2: #ff9966;
