@import "../../style/variables";

.para {
  color: $black-1;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
}

.backSection {
  padding-bottom: 2rem;
  font-size: 2rem;
}

.postTitle {
  display: inline-block;
  padding: 5px;
  padding-left: 0;
  padding-right: 2rem;
  color: $black-1;
  line-height: 1.4;
}

.itemActiveBack {
  color: $green-1;
}

.date {
  color: $secondary-text-color;
  font-size: 1.6rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.author {
  color: $secondary-text-color;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
