@import "../../style/variables";

.para {
  color: $black-1;
  font-weight: 400;
  font-size: 2rem;
}

.backSection {
  padding-bottom: 2rem;
  font-size: 2rem;
}

.itemActiveBack {
  color: $green-1;
}

.date {
  color: $secondary-text-color;
  font-size: 1.6rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.author {
  color: $secondary-text-color;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
