@import "../../style/variables";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

.heading {
  font-size: 3.6rem;
  text-align: center;
  color: $primary;
}

.subheading {
  font-size: 2rem;
  text-align: center;
}

.logo {
  border-radius: 10rem;
  margin-bottom: 3rem;
}
